<% define_template "agent_conventions_declaration", jsonmodel_definition(:agent_conventions_declaration) do |form| %>
  <div class="subrecord-form-fields">
    <div class="agent-record-control-container">
      <%= form.label_and_select "name_rule", [""] + form.possible_options_for("name_rule", false) %>
      <%= form.label_and_textfield "citation",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_textfield "descriptive_note",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_textfield "file_uri",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_select "file_version_xlink_actuate_attribute", [""] + form.possible_options_for("file_version_xlink_actuate_attribute", false) %>
      <%= form.label_and_select "file_version_xlink_show_attribute", [""] + form.possible_options_for("file_version_xlink_show_attribute", false) %>
      <%= form.label_and_textfield "xlink_title_attribute",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_textfield "xlink_role_attribute",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_date "last_verified_date" %>
    </div>
  </div>
<% end %>