<div id="main-content" class="agents">

  <div class="row" id="info_row">
    <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    </div>
    <div class="page_actions col-sm-5 right">
      <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath } %>
    </div>
  </div>


<div class="row">
  <div class="col-sm-9">
    <%# RECORD IDs %>
    <% ari = render partial: 'agent_record_identifiers', locals: {:result => @result} %>
    <% unless ari.blank? %>
      <%= render partial: 'shared/accordion_panel', locals: 
        {:p_title =>  I18n.t('agent_record_identifier._plural'),
         :p_id => "agent_record_identifiers_panel",
         :p_body => ari} %>
    <% end %>

    <%# ENTITY IDs %>
    <% ai = render partial: 'agent_identifiers', locals: {:result => @result} %>
    <% unless ai.blank? %>
      <%= render partial: 'shared/accordion_panel', locals: 
        {:p_title =>  I18n.t('agent_identifier._plural'),
         :p_id => "agent_identifiers_panel",
         :p_body => ai} %>
    <% end %>

    <%# NAMES %>
    <% if @result.json['jsonmodel_type'] == "agent_person" %>

      <% n = render partial: 'name_person', locals: {:result => @result} %>

      <%= render partial: 'shared/accordion_panel', locals: 
        {:p_title =>  I18n.t('name_person._plural'),
         :p_id => "names_panel",
         :p_body => n } %>

    <% elsif @result.json['jsonmodel_type'] == "agent_family" %>
    <% elsif @result.json['jsonmodel_type'] == "agent_corporate_entity" %>
    <% elsif @result.json['jsonmodel_type'] == "agent_software" %>
    <% end %>

    <%# DATES OF EXISTENCE %> 
    <% if @result.json['dates_of_existence'].any? %>

      <% de = "" %>     
      <% @result.json['dates_of_existence'].each do |d| %>
        <% de += render partial: 'structured_date', locals: {:result => d} %>
      <% end %>

      <%= render partial: 'shared/accordion_panel', locals: 
        {:p_title =>  I18n.t('dates_of_existence._plural'),
         :p_id => "dates_of_existence_panel",
         :p_body => de.html_safe } %>
 
    <% end %>

    <%# NOTES %>
    <% n = render partial: 'agent_notes', locals: {:result => @result} %>
    <% unless n.blank? %>
      <%= render partial: 'shared/accordion_panel', locals: 
        {:p_title =>  I18n.t('agent_notes._plural'),
         :p_id => "agent_notes_panel",
         :p_body => n} %>
    <% end %>
  </div>

  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <% if @result.json['names'].length > 1 ||
          (@result.respond_to?(:related_agents) && !ASUtils.wrap(@result.related_agents).empty?) ||
          ASUtils.wrap(@result.external_documents).length > 0 %>

    <h3><%= t('more_about') %> '<%= @result.display_string %>'</h3>
    <div class="acc_holder clear" >
      <div class="panel-group" id="agent_accordion">
        <% if @result.json['names'].length > 1 %>
          <% other_names = @result.json['names'].reject{|name| name['is_display_name']}.collect{|name| name['sort_name']} %>
          <% x = "<p>#{t('agent._public.section.other_names_preamble')}</p>" %>
          <% x += render partial: 'shared/present_list', locals: {:list =>  other_names, :list_clss => 'other_names'} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('agent._public.section.other_names'), :p_id => 'other_names_list', :p_body => x.html_safe} %>
        <% end %>
        <% if @result.respond_to?(:related_agents) && !ASUtils.wrap(@result.related_agents).empty? %>
          <% x = render partial: 'agents/related_agents', locals: {:related_agents => @result.json['related_agents'], :list_clss => 'related_agents'} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('agent._public.section.related_agents'), :p_id => 'related_agents_list', :p_body => x} %>
        <% end %>
        <% unless @result.external_documents.blank? %>
          <% x = render partial: 'shared/present_list_external_docs', locals: {:list =>  @result.external_documents, :list_clss => 'external_docs'} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('external_docs'), :p_id => 'ext_doc_list', :p_body => x} %>
        <% end %>
      </div>
    </div>
    <script type="text/javascript" >
        initialize_accordion("#agent_accordion .note_panel", "<%= t('accordion.expand') %>" , "<%= t('accordion.collapse') %>");
    </script>

  <% end %>

  <% if !@facets.blank? || !@filters.blank? %>
    <%= render partial: 'shared/facets' %>
  <% end %>
  </div>
</div>
