<% define_template "agent_record_control", jsonmodel_definition(:agent_record_control) do |form| %>
  <div class="subrecord-form-fields">
    <div class="agent-record-control-container">
      <%= form.label_and_select "maintenance_status_enum", form.possible_options_for("maintenance_status_enum", false) %>
      <%= form.label_and_select "publication_status_enum", [""] + form.possible_options_for("publication_status_enum", false) %>
      <%= form.label_and_textfield "maintenance_agency",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_textfield "agency_name",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_textarea "maintenance_agency_note",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_select "romanization_enum", [""] + form.possible_options_for("romanization_enum", false) %>
      <%= form.label_and_select "government_agency_type_enum", [""] + form.possible_options_for("government_agency_type_enum", false) %>
      <%= form.label_and_select "reference_evaluation_enum", [""] + form.possible_options_for("reference_evaluation_enum", false) %>
      <%= form.label_and_select "name_type_enum", [""] + form.possible_options_for("name_type_enum", false) %>
      <%= form.label_and_select "level_of_detail_enum", [""] + form.possible_options_for("level_of_detail_enum", false) %>
      <%= form.label_and_select "modified_record_enum", [""] + form.possible_options_for("modified_record_enum", false) %>
      <%= form.label_and_select "cataloging_source_enum", [""] + form.possible_options_for("cataloging_source_enum", false) %>
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "lang_materials", :custom_action_template => "lang_materials/subrecord_form_action"} %>
    </div>
  </div>
<% end %>

<% define_template "agent_record_control_required", jsonmodel_definition(:agent_record_control) do |form| %>
  <% field_names = ["maintenance_status_enum", "publication_status_enum", "maintenance_agency", "agency_name", "maintenance_agency_note", "romanization_enum", "government_agency_type_enum", "reference_evaluation_enum", "name_type_enum", "level_of_detail_enum", "modified_record_enum", "cataloging_source_enum"] %>
  <% field_names.each do |field_name| %>
    <% if form.required?(field_name) %>
      <%= form.label_and_readonly field_name %>
    <% else %>
      <%= form.label_and_req_boolean field_name %>
    <% end %>
  <% end %>
<% end %>
